{% block subject %}Mitgliederversammlung des CCC e. V. am 21. Mai 2023 in Potsdam{% endblock %}

{% block body %}<p>Hallo {{ member.get_name }},</p>

<p>gemäß §8 Absatz 2 der Satzung des Chaos Computer Club e. V. (siehe https://ccc.de/satzung) laden wir hiermit alle
   Mitglieder zur außerordentlichen Mitgliederversammlung am
</p>
<blockquote>
   Sonntag, dem 6. April 2025
</blockquote>
<p>ein. Versammlungsort ist der</p>
<blockquote>
   Saalbau Gallus</p>
   Frankenallee 111</p>
   60326 Frankfurt am Main</p>
</blockquote>
<p>Die Versammlung beginnt um</p>
<blockquote>
   11 Uhr (Einlass ab 10 Uhr).
</blockquote>

<p>Am Samstag, dem 5. April 2025 halten wir zur gleichen Zeit und am gleichen Ort eine Vorbesprechung ab, zu der wir
   Dich hiermit ebenfalls einladen.</p>

<p>Zur Diskussionsvorbereitung bitten wir Dich, Dir die Tagesordnung und Anträge im Anhang, sowie die aktuellen
   Informationen und Hinweise unter https://verein.ccc.de/, anzuschauen.
</p>

<blockquote>
   <table style="width:100%">
      <tr>
         <th style="width:25%">Benutzername</th>
         <td style="width:25%">{{ verein_user }}</td>
         <th style="width:25%">Passwort</th>
         <td style="width:25%">{{ verein_pass }}</td>
      </tr>
   </table>
</blockquote>

{% if member.membership_type != member.MEMBERSHIP_TYPE_HONORARY %}
<p>Bitte beachte, dass Voraussetzung für die Ausübung deiner Rechte auf der Mitgliederversammlung ist, dass alle offenen
   Mitgliedsbeiträge bezahlt sind.</p>
{% endif %}
{% if member.membership_type == member.MEMBERSHIP_TYPE_SUPPORTER %}
<p>Fördermitglieder haben kein Stimmrecht auf der Mitgliederversammlung.</p>
{% endif %}
<p>Derzeit führen wir dich mit folgenden Daten und Zahlungsstand:</p>
<blockquote>
   <table>
   <tr><th>Chaos-Nr.:</th><td>{{ member.chaos_number }}  (immer mit angeben!)</td></tr>
   <tr><th>Art der Mitgliedschaft:</th><td>
      {% if member.membership_type == member.MEMBERSHIP_TYPE_SUPPORTER %}
        Fördermitglied
      {% elif member.membership_type == member.MEMBERSHIP_TYPE_MEMBER %}
        ordentliches Mitglied
      {% elif member.membership_type == member.MEMBERSHIP_TYPE_HONORARY %}
        Ehrenmitglied
      {% endif %}
   </td></tr>
   <tr><th>Ermäßigt:</th><td>{% if member.membership_reduced %}Ja{% else %}Nein{% endif %}</td></tr>
   <tr><th>Erfakreis:</th><td>{{ member.erfa }}</td></tr>
   <tr><th>Name:</th><td>{{ member.get_name }}</td></tr>
   <tr><th>Adresse:</th><td>{{ member.address_1|default_if_none:"" }}<br>
                  {{ member.address_2|default_if_none:"" }}<br>
                  {{ member.address_3|default_if_none:"" }}</td></tr>
   <tr><th>Land:</th><td>{{ member.get_address_country_display }}</td></tr>
   <tr><th>E-Mails:</th><td>{{ member.get_emails_string }}</td></tr>
   <tr><th>Kommentarfeld:</th><td>{{ member.comment }}</td></tr>
   <tr><th>Information:</th><td>{{ member.notification_consent }}</td></tr>
   <tr><th>Datenschleuder:</th><td>{{ member.wants_datenschleuder }}</td></tr>
</table>
   <p>Mitgliedschaft seit dem {{ member.membership_start|date:"d.m.Y" }} = {{ member.get_annual_fee_readable }}€/Jahr,</p>
   {% if member.membership_end %}   <p>Austritt:      {{ member.membership_end|date:"d.m.Y" }}</p>
{% endif %}{% if member.get_annual_fee %}
   {% if member.fee_last_paid %}<p>Zuletzt gezahlt am {{ member.fee_last_paid|date:"d.m.Y" }}</p>{% endif %}
{% if member.account_balance > 0 %}
   <p>Guthaben für den nächsten Beitrag: {{ member.get_balance_readable }}€.</p>
{% elif member.account_balance < 0 %}
   <p>Zahlungsrückstände: {{ member.get_balance_readable|slice:"1:" }}€.</p>
{% endif %}{% if member.is_active %}
   <p>Am {{ member.fee_paid_until|date:"d.m.Y" }} wird der nächste Beitrag fällig.</p>
{% endif %}
   <p>Um deine Rechte auf der Mitgliederversammlung ausüben zu können, musst du bis
      dahin noch zahlen: {{ member.get_fees_payable_until_2023_05_21 }}€.</p>
{% if member.get_fees_payable_until_2023_05_21 != '0.00' %}
   <p>Wir verwenden kein Lastschriftverfahren.</p>

   <p>Verwendungszweck: {{ member.transfer_token }}</p>

   <p>In den Verwendungszweck bitte ausschließlich deinen Chaos Transfer Token (CTT)
      eintragen!</p>

   <p>Spenden bitte in einer gesonderten Überweisung mit dem Verwendungszweck "Spende" tätigen.</p>

   <p>Kontoinhaber: Chaos Computer Club e. V.<br>
   BLZ: 20010020, Kontonummer.: 599090201<br>
   BIC: PBNKDEFFXXX IBAN: DE41 2001 0020 0599 0902 01<br>
      Postbank Hamburg</p>
{% endif %}{% endif %}</blockquote>
<p>Sollten diese Daten nicht korrekt sein, so teile uns doch bitte
   Korrekturen per E-Mail an mitgliedschaft@ccc.de oder per Post mit:</p>
<blockquote>
   Chaos Computer Club e. V.<br>
   Zeiseweg 9<br>
   22765 Hamburg<br>
</blockquote>
<p>- Bitte gib immer deine Chaosnummer an, damit wir deinen Datensatz finden! -

<p>Mit freundlichen Grüßen<br>
der Vorstand des Chaos Computer Club e. V.<br>
   Alexander Leefmann, Loreen Müller, Bernadette Längle, Daniel Friesel und Max Andre
</p>
{% endblock %}
