{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<h1>Administration Association</h1>
<div class="col-md-4 mx-auto">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'members:memberAddressUnknown' %}">Mark returned mail as address unknown</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'members:memberEmailUnknown' %}">Remove bounced e-mail addresses</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'members:premiumadress_import' %}">Import PremiumAdress data</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'members:add_member' %}">Add Members</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'import_app:import_banking' %}">Import Banking</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'import_app:manage_transactions' %}">Manage Transactions</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'members:search_form' %}">Member Interaction</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'admin:members_subscriber_changelist' %}">Datenschleuder Interaction</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'api:mail_send_all' %}">Send Mails</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'api:generate_letters' %}">Generate Letters</a>
</div>
{% endblock %}
