@page {
    size: A4;
    margin: 0;
    margin-bottom: 40mm;
    margin-top: 20mm;
}

@page :first {
    @bottom-center {
        content: element(footer)
    }
}

/* Some clean-up to be able to use the full page for printing */
body {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    font-family: Bitstream Vera Sans;
}

.letter {
    /* anchor for absolutely positioned divs */
    position: relative;
    page-break-before: always;
 }

.letter:first-of-type {
    page-break-before: avoid;
}

.chaosknoten {
    float: right;
    width: 40mm;
    height: auto;
}

.header {
    position: absolute;

    /* even out top-margin of page */
    top: -20mm;

    font-size: 28pt;
    margin-left: 20mm;
    margin-right: 10mm;
    margin-top: 12.7mm;
    width: 180mm;
}

div.footer {
    position: absolute;
    width: 165mm;
    bottom: -20mm;
    margin-left: 0mm;
    margin-right: 0mm;
    padding-left: 25mm;
    padding-right: 20mm;
}

/* 4 columns */
div.footer div.footer_block {
    font-size: 6pt;
    float: left;
    width: 25%;
    hyphens: auto;
}

div.footer div.footer_abstimmung {
    float: left;
    width: 33%;
}

.window {
    position: absolute;

    /* even out top-margin (20 mm) of page for a total of 45 mm margin */
    top: 25mm;

    width: 85mm;
    height: 45mm;
    left: 20mm;
    padding-left: 5mm;
    overflow: hidden;
}

.sender {
    font-size: 53%;
    overflow: hidden;
    white-space:nowrap;

    /* Hack to center vertically: Make line-height and height equal */
    height: 5mm;
    line-height: 5mm;
}

.recipient {
    font-size: 10pt;
}

.infoblock {
    position: absolute;
    left: 125mm;

    /* even out top-margin (20 mm) of page for a total of 32 mm margin */
    top: 12mm;
}

.subject {
  margin-top: 0mm;
  height: 5mm;
  font-weight: bold;
}

th {
    text-align: left;
    vertical-align: top;
}

.content {
    /* even out top-margin (20 mm) of page for a total of 98.46 mm margin */
    margin-top: 78.46mm;

    margin-left: 25mm;
    margin-right: 20mm;
}

.content pre, .subject {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 8pt;
}

.falzt, .falzb {
    position: absolute;
    left: 0;
    width: 7mm;
    border-bottom: 1px black solid;
}

.falzt {
    /* 20mm margin, resulting in 105mm total */
    top: 85mm;
}

.falzb {
    /* 20mm margin, resulting in 210mm total */
    top: 190mm;
}