<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <style>
        {% include "deadtree_templates/deadtree_postal_din_a4.css" %}
    </style>
</head>

<body>
    <div class="letter">
        <span class="falzt"></span>
        <span class="falzb"></span>
        <span>
            <!-- put the header inside a span so it is not the anchor for the window -->
            <div class="header">
                Chaos Computer Club e. V.<img class='chaosknoten' alt='chaos knot' src='data:image/jpeg;base64,
                /9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2QtanBlZyB2MS4wICh1c2luZyBJSkcgS
                lBFRyB2NjIpLCBxdWFsaXR5ID0gOTUK/9sAQwACAQEBAQECAQEBAgICAgIEAwICAgIFBAQDBAYFBg
                YGBQYGBgcJCAYHCQcGBggLCAkKCgoKCgYICwwLCgwJCgoK/9sAQwECAgICAgIFAwMFCgcGBwoKCgo
                KCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoK/8AAEQgA8AFAAwEi
                AAIRAQMRAf/EAB8AAAEFAQEBAQEBAAAAAAAAAAABAgMEBQYHCAkKC//EALUQAAIBAwMCBAMFBQQEA
                AABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nz
                g5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqe
                oqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+v/EAB8BAAMB
                AQEBAQEBAQEAAAAAAAABAgMEBQYHCAkKC//EALURAAIBAgQEAwQHBQQEAAECdwABAgMRBAUhMQYSQ
                VEHYXETIjKBCBRCkaGxwQkjM1LwFWJy0QoWJDThJfEXGBkaJicoKSo1Njc4OTpDREVGR0hJSlNUVV
                ZXWFlaY2RlZmdoaWpzdHV2d3h5eoKDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usL
                DxMXGx8jJytLT1NXW19jZ2uLj5OXm5+jp6vLz9PX29/j5+v/aAAwDAQACEQMRAD8A/fyiivhf/gtH
                /wAFtfg//wAEifhxohvPBo8aePvFolbwx4Qj1P7LGbdCN93cTbX2QhiBwCXOemCQAfdFFfzbeIf+D
                2v9si5GPCv7G3wys/8Ar/1W/uf/AEGSOvPfEn/B5x/wVM1dv+JJ8Lvg3pI/6Y+GL+b/ANGX5oA/qL
                or+TzXf+DuT/gstrBxpvxJ8C6T/wBeHgK2P/o4yVxev/8AB0V/wW78QDYv7YMFhGOBHYeAtDj/APb
                PJoA/r3or+NTWP+Dhz/gs7rZ/0v8Ab88YRj0sbWxtv/RUArmdV/4Lif8ABXfWPluf+CiPxVUekHim
                WL/0XtoA/tRor+IzUf8AgrX/AMFSNRP+kf8ABRX43H5dmR8S9Tj4/wCAz1jf8PMf+Ci//R+/xl/8O
                Vqn/wAfoA/uMor+GiD/AIKI/t/22of2lb/txfF4XOf9cPiTqef/AEfVv/h5j/wUX/6P3+Mv/hytU/
                8Aj9AH9xlFfxC2P/BV3/gp/pvlDTf+CiXxuiEX+qA+Keqcf+R639J/4LV/8Fa9GO2w/wCCinxcx6X
                HjW5l/wDRjGgD+1uiv40vD/8AwcHf8FnPDn/Hh+3740m/6/1tbr/0dA9eheEP+DqH/gtn4UOLz9qj
                TdaT+5q3gHRz+sVrHQB/XXRX8ufw9/4PJ/8Agqd4ZmH/AAmnw6+EfiaLpILrwxd20p/GC8Qf+O177
                8L/APg998WWs8Vv8a/2A9Nukx+9vPCnj2SHH0huLWT/ANGUAf0H0V8n/wDBLT/grl+zD/wVk+Fmoe
                OvgbdajpOu6HPGnibwXrvl/btL8z/VyfuyVmhkAO2UdwQcEV9YUAFFFFABRRRQAUUUUAFFFFABRRR
                QAUUUUAFFFFABRRRQAUUUUAFFFFABX8cf/Bw1+1nf/tgf8FX/AIqeK4NWNzo3hDWj4P8ADYBPlw2u
                m5hkK+0lz9pl/wCBV/Xh8a/iPYfB34L+L/i1qGDbeF/C9/rMw9I7a2eY/pGa/hD8T+JNX8XeJ9S8W
                63cma91W+lubyXP+tlkk3sfzOaAO3/Ze/ZW+Ov7Zfxk0n4A/s2fDu+8S+KdZuP9E02x48qJB+8mmk
                J2QxIDkyPwPxAP62/C/wD4Mnf2rNe0S0vvi9+2R4D8O3ssIku9P0jQbvU/JP8Ad8xjbg/lX2x/waS
                /8E99A/Z0/YNT9sLxT4fX/hMvjBLLcwXU6jzbPQ4ZvLtYF46SvEbn3DRelfrZQB+Dng//AIMevhxa
                jPj/AP4KEazef9gn4fxW3/oy8kr0Lw1/wZQfsHWhDeLf2qfi3ff3xYnTLYfrayV+0NFAH5PeHf8Ag
                zf/AOCTOlDOpeLfi7qvvc+MbVP/AETZpXU6N/waPf8ABGawybr4a+Nb/wD6+fHt1/7T2V+nFFAH83
                v7afg//g2l/wCCb/7VGt/ssftF/wDBLP42z3+gvFJDrFr40upLfU7aaIMtzAG1aEvF257g+lfTv/B
                Lf9in/g2C/wCCp3hrW5/2af2LNSs9W8NzRNq/hnxr4q1iLUoInOI7jEeqSpJCemQx5BBr6s/4Lxf8
                EevCf/BVv9mRz4Ts9Psvi14MtpbjwBrlwfKFx3k02eTGRDNx7RyYPrn+Xn9k39p/9pL/AIJW/tj6d
                8XPB1ldaF4y8DazLY+IvDmqLJF58aSbLvTbqMYOxsEH0PPJFAH9UMX/AAbi/wDBFKOERH9gnw6dnQ
                truqEn/wAmqT/iHH/4Ipf9GC+HP/B7qn/yVXvf7Cn7aHwc/wCCgH7Mvhv9qH4I6mZdG8QWwE1lcEG
                4029QDz7OfqPMifj36969koA+G5/+DcD/AIIpXMBgk/YS0BM94df1eP8AleV+HP7Un7WX/Bvp8I/2
                gvGnwMsP+CJV/rNl4O8U6hoSeJNO+Pes2H277LcvAblYPnxv8vPU1/U34i1i28PaDfeIbofutPtZb
                mb6JGWP6Cv4K/GvijUvG3jHV/GmqnfdatqU19OfSSaQyH+dAH9T2k/8Gs//AARC+MHgjSPH3gj4Qe
                KtPsNf06G/06Ww8fX/APqpohIn+ueTsa4nx9/wZj/8EwfEVvnwV8Xvi94flx8hGv2N1GPwks8/+PV
                +ln7GGjTeGv2QfhVoV0f3th8NNAtZfqlhCten0Afz8fG3/gyG1OC3lvP2dP28beeX/llpnjXwaYs/
                9vFrO3/omvyn/wCCjP8AwSe/bQ/4JgeMtP8ADf7UPw8t4NN1p5RoXijQ7r7Tpuo7OWRJsDDgEHy5A
                JMdq/tfr4j/AODhb9nPw7+0X/wSI+Mmja1pX2q68JeG5fFuiTDh7S504G4Mi4/6YCaP6MaAP5pP+C
                Ff7d+s/wDBPj/gpN8Pvi0+sm08L65qMXhzx5FuxHLpF5Kkckkn/XB/Luf+3ev7N6/gHr+5D/gnj8Y
                bj9oT9gv4NfGu/vBLd+J/hlol/fS+ty9lF53/AJF3UAe0UUUUAFFFFABRRRQAUUUUAFFFFABRRRQA
                UUUUAFFFFABRRRQAUUUUAfJ//Bcrx9cfDD/gkL+0J4ltboxSy/DTUNPEoHT7aBZ/+3Ffxf2Fhd6nf
                Q6dYKZZZphFFF/tvxX9b/8AwdPeLpvC3/BEr4p2lsPn1rUdAsDj0bWLSQ/+iq/lk/Yt8Lf8Jx+2H8
                J/Blxb+bHq3xL0GwaIn73nX8MeP1oA/tu/Zh+D2nfs/wD7N3w/+Buj2ohtfBvgzS9Ghii6AW1rHD/
                7JXfUUUAFFFFABRRRQAV+Iv8AwdPf8EQE+OXg/Uv+ClH7LPhBv+Ex8P6d53xS0Swtvn1rTYYx/wAT
                BFA5uLeMfvO7wgH/AJY4P7dVEQJwYJ1/KgD+Sr/g3N/4LEX3/BMv9qJPhx8Wde2/B/4iXMVv4rjuG
                Pl6Jen93DqqdsJwk3rEc/8ALIV/Wdp2o6drOnQ6jp15Dc2tzCJIpYDvSVG5DAjqD/Wv5of+Dl//AI
                INw/sc+Jr39ur9kjw7/wAWt17UMeL/AA7Zj/kV76V+JEHeylfgf88ZOOhGPeP+DWH/AILoxX1jo3/
                BMH9rbxcEubYC1+EPijUbrHnR4ONFmkbuv/Lt7Yh7RCgD90PirYXOpfDPxHp1ogkln0C7iii9XaFw
                P1xX8FHzQmv7+a/jS/4LNf8ABLT48/8ABOH9rHxdpvin4daiPh5rfiq7ufAPi6K0P2G8sZpTJDB5o
                GxJ44yEePsR6YoA/rh/Y5+JHhn4wfsmfDT4n+DLyG50vxB4F0q+spoB8jRvaxHj8z+VemV/H1/wTP
                8A+Dh/9vT/AIJleAx8Hfh1eeHvGHgiKeSTT/C/jSzllj00u+5/s00MsckQYk/ISUyc4r7w8Af8Hv3
                jm2xb/FP/AIJ86PdjpJNoPxAltf8Axyazl/nQB/QrXnX7XPwxv/jX+yt8TPg7pUAlufFnw91rRrWM
                95bqxmgUfnJX4+6T/wAHvH7ONxF/xOv2FvGdrJ6W/iu1lB/OJK2f+I2v9jj/AKM3+Jn/AINdN/8Aj
                tAH84GtaLrHhfWbrQtf02ezvbG4kt7y1nGySGRDtZG9x0r+yz/ggjcyS/8ABHL9nx5+v/CvYR/3zL
                KK/I/4u/8ABxf/AMEO/jT49ufib8UP+CJGm+KNfu7j7Rea7rugaGbu9l/vTSeWxm/4HmvS9G/4PUv
                2dPA3h618IfDr/gnFrVhpmn2ot9N0+38aWttb28aDEccccdmQE9uMUAfvNRX4Fal/wfE2CHbp3/BN
                eeT3n+KwT+WmGsX/AIji/F//AEjf03/w6cn/AMrqAP6D6K/n90r/AIPitRHGtf8ABOKD62/xU/x06
                u18L/8AB7x+z9e4Hjj9g3xlp5/5af2V4ytbrH08yKGgD9zaK/KT4U/8Hhf/AASa8eNDb+PbP4meCJ
                JT+9m13wpFcxQn62M87/8AjlfZ/wCzj/wVl/4JsftczQ2H7P8A+2b4F1y/uR+60ebXRY37f9ut15c
                3/jlAH0ZRUf8Ayx/0ev5n/jf/AMF5f+C4f/BLT/go/wCKfA/7ZXiXTPF+n2mpmS78CT6XFa6Rfaa+
                4wzaZPHF50KFQNkh39xKGIoA/pkor83PjT+094z/AOC3f/BGrxH8Y/8Aglp8dPEfgb4gRQfaZdF0b
                Ujb6xb3tt89xoc0sBDxmaM/u5I8CTMR6EgfjV/wS5/4OXv25P2EfifH4H/av8Z+Kfit8PJLs22taT
                4tvpLrW9JxJ80lpc3B80un/PvKfLPQeX1oA/q4orkfgl8Y/h5+0V8JfDvxx+FGvw6p4Z8VaRDqOia
                hCCPOt5UDDg9D6+4qlqn7RfwC0f4v2X7PWtfGvwtaeO9UsDe6d4NuNdt4tTnt+8sdsW80j3xQB3dF
                FFABRRRQAUUUUAFFFFAH5a/8HfuqjTP+CPN5aj/l/wDiXosH/pRJ/wC06/nK/wCCWNrb6h/wU3/Z2
                tbs/u5fjf4V83/wcW1f0Sf8Hjn/ACiNsv8Asrui/wDpNfV/Ph/wR4/5Sr/s6/8AZZvD/wD6Xw0Af2
                1UUUUAFFFFABRRRQAUUUUAc58Sfhn4J+Mfw/1n4UfE3w3baz4c8Q6dLYa7pF+nmQ3ltLGUkiYehBr
                +Qj/gtP8A8En/AIm/8Ei/2s5dF0QX938PddupdT+GPiwOd4iWQN9mkkA4urfgHoSCJB1r+xqvHP22
                P2JP2f8A9v74Aat+zl+0f4TGqaHqa+bDNB+7udOuVBEd1byEHypVz+pGMZyAflL/AMEEP+DnHwr8a
                9A0b9j3/gox43h0zxxbpHY+FviVql0IrbxF0SOC+kPEN52ExOJj1xJ/rP2g8b+B/AXxS8H3fgr4j+
                EtI8Q6FqkHl3uk6xZR3VrcRkdHjkyjj8K/lS/4KIf8GvH/AAUa/Y+8Z3l38CfhtqXxn8Cy3BOk674
                Os/N1KKLHC3NguZUfn/ln5kfv6fN2n/AP/gsf8E4xYaV8HP2l/CccPWGx8P8AiGxEP4Ki4oA/oZ/a
                1/4NMv8Aglh+0ZdXWv8Awz8PeIfhHrN1+83eCtT8yxMmOc2l15iAe0RiFfDvxV/4MiPjFa6g7/BL9
                uvw1qNt/wAsovFnhS5spPzglnH6V+ZI/aO/4LOeBG/0j47ftMaR5Z8z9/4i8Qxfjy9MP/BT7/gr/w
                CEPO+1ftzfH+0yvlzfbvH+sf8AtSWgD7a1/wD4Mx/+Co+nz40P4u/BjUIs/uj/AMJPqUX/AKFYVlW
                f/Bm9/wAFZJxm58WfCG09PN8Z3Z/9BsTXxrD/AMFiP+Csen3P2g/8FEfjKJIu03j+/P8AOWrv/D7X
                /grd/wBJFvi9/wCFrc/40Afceg/8GWf/AAUrumzrP7QHwZ0//rlq+qS/ysBXU6R/wZKftgXJzrP7Z
                fw0g9rfSr+X/wBlSvzz/wCH2v8AwVu/6SLfF7/wtbn/ABo/4fa/8Fbv+ki3xe/8LW5/xoA/SmL/AI
                Mhfj4suZ/2+PBxj/5aY8F3X/x+um8N/wDBjxq+d/ir/go9bRf347D4WGQj/vvURX5Yf8Ptf+Ct3/S
                Rb4vf+Frc/wCNH/D7X/grd/0kW+L3/ha3P+NAH66wf8GP/wAK1iAuf+Ch/iLzB/rPK+HEWP8A0tqP
                Vf8Agx8+H7W4Gi/8FEtZhlx0ufhrFJH+l+K/I7/h9r/wVu/6SLfF7/wtbn/GqV//AMFl/wDgrHqU/
                wBon/4KKfGYf9cPH9/F/wCgyUAfpX8SP+DI79pfTIZW+FH7cXgTW5BzHFr3ha60vP4wvc18gftLf8
                Gx3/BYr9nG3m1gfs3w+PdMgPOo/DXVI9Sc/S1/d3R/7814b/w+O/4Kv/8ASRb4y/8AhwL/AP8Ajle
                ufAv/AIOU/wDgsl8Cr+Kez/a81HxXaLnzdN8d6ZbanHL9ZJE8/wDKUUAYP7JP/BaL/gq3/wAE0fEx
                8A+Ffjb4jGnaVc+TqPw4+JNrLe2MGMfuvs91++s+3EJiNfefxw/by/Ym/wCDmH4Had+z98TfCenfB
                z9qnRRKPhbq1/c+Zo/iK5c8aSt4QDD9p42xT/ckxsdzkHz/AMYf8HA/7An/AAU28JQfDH/gsj/wTv
                tvt/kCKy+LHwmuvL1TSz/z0jiuP3oTP8Bnlj/6ZV+e/wC2N+y/8Nv2ffFVl48/Zc/aM0j4o/DnVpv
                N8M+LtJ8y0vrJxhhaajZSbZrG7QdeNj4zGTyAAeyf8EnP+CkXx9/4IqftxXX/AAnXhrWI9D/tL+wv
                i58P78GOXZBKY2by2+7d2zbin4oeDX0x/wAHN3/BOT4a6P4i8P8A/BXH9jZrbU/hL8aUivdcutEjY
                2tnq8yb1uxxiNLvlj6TiXPUCvk740fEQf8ABUH4E3Hxv10KP2hPhd4eiPjqXkyfETwzbRiNdY9ZNT
                sYwPtXee1/0j/l3mr61/4N1/27/hv8Y/Avib/ghf8AtyXgv/hl8YLa6tfh9d3rHOi6xPmT7NE7cR+
                bL++hx0ugOpnNAHtH/BoH/wAFVW8N+Irr/gl18avEP+g6q9zrHwou7m6wILk/vLzTAM/8tMG5j9CJ
                /wDnoK+ff+Dsb9mr4u/sz/8ABVSH9q218W6w2mfEzTrXWPC2ufaZI5dMvdPjhtZbOGReY/K8u3mTG
                MfaBXwt+0j8Ef2gP+CVf7eur/C+91i40nxt8KvGEN3oWu2WYvNMMiXFlfQ9PkkQQyj64NfvT/wVav
                vBH/Bcj/g3R039uTwFo8H/AAlngO0TxZLZwf6yxurP/R9as8/3BCZph6+TDQB7V/wbZ/8ABXTXP+C
                mv7K114C+N+sPc/Fb4XNbWniK9JAfXLGQEW2oHBGZCY2jlPqM/wDLXFfpfX8i3/Brz+1Ld/s1/wDB
                XvwHoV1rDQaN8SoLrwlq8f8ABNJcx+ZZg/8Ab5Dbj8a/rX1LxBoOlXdtpuq6xbWlzfzGKyhnuESSd
                /RBn5jQBpUUUUAFFFFABRRRQB+W/wDwd86KNT/4I96hdD/lw+I2iXX6zQ/+1a/nd/4I8f8AKVf9nX
                /ss3h//wBL4a/pG/4OvdG/tP8A4IpfEK4X/lw8ReH7n/yp28f/ALUr+bf/AIJB3MOnf8FU/wBnS6u
                h+7/4XP4aB/4FqUAoA/tsooooAKKKKACiiigAooooAKxfGXjDwl4A8M6h448beIrDStG0q3kudR1T
                U7tIbaziTl5JJH4QAZ9qj+IHxA8E/CfwTqvxG+I3irT9E0DRNPlvtX1fVLkRW1nbIN0kkkjcAAV/L
                B/wXt/4OBviL/wUt8cXnwA+Amr3/h74G6NfN9mtFPlXXimVCcXl5zxD3itj0HL5fAQA/UX9rj/g8U
                /4J+fA7V7zwr+zr8NfFfxav7SeSP8AtO0MekaRLtx/q7iffM/XtBivkfxR/wAHvH7QNzcS/wDCE/s
                IeDrOMn93/a3jK6uiP+/cUVfmL/wT6/4Jaftof8FLPHL+FP2Xvg/cajY2twseueKNWJtdI0vocT3J
                HXAP7uMGQ54B61+1H7LX/BlT+zl4b0m21T9sT9qPxR4r1TGbjSPAtvFpljEf7nnTpNNKOnP7n6UAf
                NV1/wAHsP7czHGnfsm/CqKP1nOpyf8At0Kx5v8Ag9M/4KITcXP7MfwSl/3tL1Q/zv6/STxP/wAGqn
                /BD3wPoI1Hxr4b8RaRbRj97qeq/EmW2A/GT5K+fPiN/wAETf8Ag1S8BzPb+K/299P0SVBzDB8fNLk
                lH/ASjmgD5N1H/g8Z/bd1Hzf7T/Y1+AV15n+s+0aBfyZ/8neaydQ/4O4f2p9SONR/YI/Ztn/67+C7
                uX+d5Xu2r/8ABL3/AINFre+2/wDD0HxBCOvlQeP7WVPz/s1v51z/APw6q/4NLv8ApL34x/8ACrsP/
                lRQB5fdf8HZfxf1HA1L/gmV+zfL5febwtcnH/kWhv8Ag6x8U3Nr9nvv+CU37N0y9JM+F5Nn5Zr0yD
                /gkH/waz6pc/aNP/4LPa5HHJL+6in8VaXHj2+fTlrUh/4Iif8ABsZqUElvp3/BbDypB0ln+JXh0D/
                x61WgDyO0/wCDpjw2gjFx/wAEbf2cZP8Anr5WgomfzgOKut/wdJ/BW/lH9uf8EPPgBeRx/wCqBtLY
                Y/76sGrt5v8Agit/wbQWcHnT/wDBcUn2h8W6HJ/K2rM1D/gj1/wbHaf/AK//AILe6mT6Qatpkv8A6
                DZ0AYth/wAHP/7JJt/s+r/8EDPgVIDxL9nNhHmP8dJNatj/AMHLn/BNCcyjWv8Ag3m+EEeR1t7rSJ
                P56JWNqP8AwSd/4NndNk2z/wDBcbWPpDpUUn/oNqahm/4JWf8ABs5jEP8AwXI1ov2B0GPH/pHQB0k
                H/Bw1/wAEU9Rtzba3/wAG83w5hjP+sFjpWhH+WnJUeo/8FuP+DefxXD9n8V/8EFtHtVkhxI+jWWkR
                Pn/ehERrkof+CU3/AAbcz8H/AILu6ln0/wCEV/8AtFI3/BJv/g3GuAYNO/4LyXUc3/LOS48KjZ/6K
                X+dAGX45m/4NTf2xNILeC734yfsueJ7r/VTXOly65o8Mn+3Cst1IU/3Ghr8+P2qf2e9E/Zy+JkvhH
                wd8dvB3xG0O7t/tOieL/Bep+dbX1ueP3kTfvbWbrvhlAIzjnFfbnxd/wCCLn/BMqaxlvP2Zf8Agvr
                8GNXuh/qdN8e2UmkD/wACI5Zv/RVfAnxu+C2r/Arx/dfD/WvGHhXXJbVv3Ws+DPE9rq+nXaf89I7i
                1d1I/I9eKAKfwn+KPjj4J/EHSfih8ONYFhrOiX8VzZz9eRztZc/OjdGXuDXVfGyfQ9A+I+mfG/4Hi
                bRNI19V1bQbexncSaJepJ++sUkAB/0eYDyz18owHOTXmFaEOv3zeF5fC85821FwLmLqfJkxtJ/4EO
                KAP1q/4K9TaJ/wVi/4JL/Cf/gsj4Ts4P8AhYnw+mi8AfHmCyT7z5Bt7xgOg86VSPbUgOkdd9/wZ4f
                tTaRrfjL4u/8ABMn4oXRvPDHxH8Ly6zpOnXAPl/aFi+y6hCP+u1rJF+FrXhf/AAbTeP8ASvi/43+N
                X/BKL4i3X/FN/tG/C7ULXSI7g/u7fXLK2lmgnX0xF57/AFt46+Mf2Hf2rPid/wAEyf22fDv7SHhzw
                1BeeI/h7rF3Fd6Df3UkcU+6KazuIJGj5xiRvyFAHM69beN/2Hv2zbyz027MfiL4SfEuWKGXPS70y/
                IH/j8Ne1f8FCv+ClH7Tf8AwVe/b3tPjtoUWsaXfnWbXTPhR4Y0rVX87RI/NAtooJFK/wCkPLiR5Bj
                Mh9AK+ev2ifjt44/ag+O/i/8AaD+Jptj4g8beIrrWdYFjbCKIXVzL5knlxjoMmsj4efEHxn8JfH+j
                /E74deJbjSNc8PaxbapoerWJKy2V1BKJIpoz6o4B+tAH93Pww0/xZo3w50DRPiBq41DXLXRrWLWLw
                4/0i6SJBNJ+L5NdDXgP/BMy5/aO1T9gX4U6/wDtYeLrnW/iLq3g601DxRqF5bRxSma5Hn+U6RqqB4
                0dY+B1U+te/UAFFFFABRRRQB8If8HL3h9fEv8AwRK+OVqOtppuk3f/AH51ixk/pX8pf7C3i5vAf7a
                3wg8c/afKGkfFXw/feb/1x1K3k/pX9e3/AAXF8Iy+Nf8AgkX+0RokFt5hj+FeqX3/AICxfaf/AGjX
                8Xukarf6Jq9rrOlkxXFrcRyQSekiEEfrQB/ffRXG/Ar4k6f8ZPgd4P8AjFppElr4r8K2GsQSxd47m
                2SYf+jK7KgAooooAKKKKACq9zc29nbyXNzceVFF88ssvQCrFfhL/wAHVH/BbeX4d6Lqn/BMr9ljxa
                F1zVrYL8WfEFhcnNlavn/iURsDgSSjmb0iIj/iOAD5Q/4OS/8AgvNd/t2+P739jX9lnxZLH8GvDWo
                Mmr6xZHjxhfRH/W572UTj90Okh/e/888eTf8ABBr/AIIQePf+CqXxJX4ofFKLUNA+CvhvUBH4h1uA
                GO51m5Xn+z7LPtjzJukQPdjXjf8AwR9/4JefE3/gqp+1hp3wU8L+dpfhXS2hvvH3igW+V0zTvMzhe
                xuJeY4hkc89Aa/sM+APwB+Fv7MXwf8ADvwI+CPhSHQvC3hjT4rLS9Pg58qNMcsf43fku5PJJoAl+B
                PwE+D37M/wt0v4L/Av4d6d4X8MaLB5en6RpVv5ccWcZPq7k8lzkmvww/4OAv8Ag5Y/aF+Fv7QXin9
                h39gPxRF4Ui8IXLaX4y8fQ28ct/Pfpnzra0L5S3SJv3bSY8zeGAIxX72+MPE+neDPCOreL9UH+jaT
                p017L/1zhj8w/wAq/hG8YeIfFXx1+M+reLL9vtOu+M/E813MM/666vLkyH83k/WgDb8UeN/2pv2vf
                GUus+NPEvjz4ma/L1nv7u+1i6/NjI9ek/D/AP4JE/8ABUX4nwi48FfsBfF26hkP7u8m8A31vEf+2k
                0SCv7DP2Iv2Svhn+xF+zJ4L/Zx+GPhbT9Ns/Dnh61tr2WxtBGb6+WJRcXUpHMkksu5yTzkn2r2CgD
                +Obwx/wAG3X/Ba3xaf+Jf+wjrlr/2Fdf0u0/9HXS13Wk/8Gpn/BbLUY/PuP2bNDtPQXHxA0jP/jtw
                a/rfqhrWtab4a0a78QazdiK1sbeW5upj0jjQbm/QUAfyif8AEJX/AMFnf+iQeDf/AAvrH/Gj/iEr/
                wCCzv8A0SDwb/4X1j/jXq3xZ/4PGf8AgoNf/tD3Xir4NeCPA9h8O7XWP+JV4S1bQnlubyxSTgXFz5
                wcTOmMmPAGeBxz/Rx+zN8b9B/aW/Z68CftDeFLVrXTvHXhPT9ds7Sf/WQxXVskwjPuu/FAH8sVz/w
                af/8ABay3Dlf2fPDsnp5XxA0zn856x9Q/4Na/+C3lpEDD+yFbXI/6YeP9C/8Akyv68aKAP489Q/4N
                nP8Agt3pzSA/sNX8vl9fI8Z6HJ/K95rKP/BuZ/wWtij84/sD+I/p/a+mE/8ApVX9kNFAH8aX/EPT/
                wAFnf8AowHxl/4FWP8A8kVetf8Ag3K/4LU3Dx5/YH8RDzOnm65pafzuq/sfooA/hm/bA/YY/an/AG
                B/iFY/Cr9q/wCF83g/xFqOkxana6Zcara3L/ZnkeMSk20sgGXibv2ryCv6v/8AguF/wbueEf8Agq/
                4+0/9oTwH8aT4G+IOleH49HkN9pX2vTtTto5ZJYvOCsHhdPNkHmDOcjjjNfjB8cv+DUz/AILI/B69
                l/4Rr4K+HviBYx9NQ8FeK7Ug/wDbG8NvN/5DoA/N+ivsi2/4N8/+CzF1qH9mR/8ABPrxr5p6vN9lj
                j/7+GcJ+ter+C/+DXD/AIKaLYR+Jv2jrj4Z/BbQuftesfEr4k2MUcKf9upn5/GgD89/Bfjfxh8OvF
                Fp4z8BeL9R0PV9OuPO0/V9HvJLa5gkHeOWPDofoa7j9l/9kH9pz9tn4lRfDD9mP4Q6z4x1t/3t2NO
                tv3VlET/r7mdsR28fX95KwHv6/eMP7Lv/AAbzf8E/rcaz+0/+2N4h/ao8Y2pyPAvwdtPsGhmT+7Nq
                G/8AeIPWKfPX93Xj37ZP/Bb744fHP4Zz/szfsr/C7w7+z58F2Hl/8ID8OIPs8mqR/wDUQvF2yXZPG
                RgA9waAPLf2n/gV+zd+yHpT/CRPizpnxT+KedniLUPCN3v8NeGCPvWkFwOdVus8PKMW8fQeeeRq/w
                DBOP4D+A7jWdY/ba/aX0kT/B74MtDqev2Uw8v/AISrVnydM8OREdXu5Y/3v/PO0WeTsKm/4Jwf8Er
                vjT/wUE1jVPHDatbeB/hJ4Nt5L34jfFvxInl6bolrGBJIFckCe42dIgfUnFO/4KGftefDz48ah4b/
                AGSP2LvCV/ofwL+G9xJa+AtHmkzfeI9Qm+W417UAP9be3RAxkfuYtsQAxQB+r/8Awag+Nf2qv21/2
                4P2gP2//jz8U/EOq211o0OmXtpNqsv2GfUby7+0RpFDkoEtoLcpGP8AlmLj3r976/l0+Of/AAUC+P
                f/AAQS+BPwp/4Jy/sX+ObDw/8AEvSrUeNf2h9RTS7W983XdQjikh0SQTRv/wAe1r5KSYIzxX9HP7F
                Hx8uP2rP2Rfhp+0td6ANLl8eeBtL12ewJz5ElzbJK6Z9AW49qAPUqKKKACiiigDzb9sDwDH8Uf2T/
                AIm/DH7N5v8AwkPw81rSxF6+fYzRj+dfwoV/fpX8Lf7bXwhm/Z7/AGxvip8DZbQwDwn8QtZ0qGH/A
                KZwXssaf+OAUAf1Yf8ABtP+0bb/ALRv/BHT4V3NzdebqHgm2ufCWsZ/5ZPYSlbcf+AhtT+NffFfze
                f8Gbv7f3hj4R/GXxv+wP8AEvxHBZWnxF8nWvA4u7jZFLrEMflXFsv/AE1mt/KP/bnjk1/SHQAUUUU
                AFFFed/tMftGfCX9kT4E+Kf2ivjh4kXSvDPhXTZb7Uro/6w9lijX+OV3IjQDqSBkdaAPlT/gvJ/wV
                w8Nf8Er/ANk6fV/Cd/aXXxR8aebY/D3SJ8SCGUD97qE0YP8AqYOOvWQqO5r+Tn4b/Dj47ftq/tF2H
                w88Fwah4s8ffEHxCViFw/mXF9e3MpeSeWQ/UyPIe2Sa9G/4KSft9/Gb/gqH+19r37Q/j2G5V9XuhY
                +EfDMX7xdL01JCLayiA6n5iWIGXkYnHNf0If8ABtp/wQ1H/BPr4WD9q39pjwxCPjP4z09RDp1yMy+
                EdNf/AJdfa6l6zY6YEXZ8gH1j/wAEjf8AgmT8M/8Aglf+yNpPwG8JJDqHiG7C33jvxNBbbX1nUmj+
                c+vkxj93ECegHQk5+rqKKAPL/wBtC4ntP2QPivcW4/exfDPX5IvwsJjX8OXwz8THwZ8RvDvjGb7uk
                63a3f8A36mST+lf3Y/HHwpL42+Cni/wTbf63V/CuoWEX1mtnj/rX8Ivh/wn4g8Y+KLXwX4a0q4u9V
                1C+istP06Ab5Jrh5PLSJfck4oA/vdsL221Oxh1Kz+eOaESRH1Dc1ZrnfhRoOreFfhh4c8Na4/mX2n
                aDaWt2fWSOFFb9RXRUAFeCf8ABT34r2XwV/4Jy/HD4n3dyIm0n4V65Jb47XD2UscP/kVlr3uvyF/4
                PBP25ND+CX7A+n/sf6DrqjxN8XNahN9aQ/6yLRLKXz5pD6b7hLeP3HmelAH8wNf3C/8ABNDwFcfC/
                wD4J3fAn4fXJH2rSPhD4atbv/rqmmW4k/XNfxb/ALL/AMGNS/aG/aV+H/wE0e28258ZeM9L0aIQ/w
                DTzdJD/wCz/pX91mj6Np+h6Ta6NpdqIbW0gjitoP8AnkiAAfpQBfooooAKKKKACiiigAr8C/8Ag5N
                /4LVf8FT/ANkb9qif9mX4DQX/AMJ/A8dhDLpHjOHSopbnxTviDyywXUySJEkcmY/LjxIMc9QK/fSu
                M+M/wF+Cv7RPgiX4c/Hn4SeHvGOhynM2leJNKivbcn12yj9aAP4wPG3/AAVn/wCCnnxASW08W/8AB
                QT4x3UUp/ew/wDCwL+KM/8AbOOUCvE/GfxC8e/EbU/7b8eeOdY1u673Wr6nLcyf99SEmv66fHX/AA
                b6/wDBCXw9P/wl/j/9jXwZosY/5a3Piu/sbbP/AFz+2JHVfTvCH/BuH+wPZf8ACV21h+zB4Tmtel5
                cXWl32pj/AK5+YZbk/wDAKAP5eP2Uf+Ca/wC3b+2vq0Wnfsv/ALLnjDxRFKcDWINKMWmxc/x3k2y3
                j/GSv1i/Zi/4NcP2eP2N/h3L+17/AMFu/wBpTR9K8M6Kq3F34J8P6i8dqXzxDcXwxLcO/wDzwtVyc
                HEhr2b9tX/g8u/Zm+GVjdeCv2BvgRqHjm/hXyrXxH4qU6XpEJ/vx26n7TcDrwfs/XrX4c/tz/8ABR
                /9sP8A4KLfEMfEL9qv4wXetm1Y/wBkaHbH7Ppulp0xbWw+SP68uc8k0AfSv/BYf/gtUP20NGtf2N/
                2LfAcHwv/AGb/AAhOsfh7wfo9lHYvrhj4S5u44uAM5KQZPUPJmTpof8Eov2bfCH7J3wH1z/gt/wDt
                deHbKfwr8PbhbX4F+D9W4PjTxlyLWQAY/wBFtZB5rH1hJ/5YHO3/AMETP+CAfjL9u94v2rP2ujN4F
                /Z/0BJL/UNX1G9+xTeIIoRvdLeRseVa4B8276AZEfPK+b/8F0P+Cmfh/wDbv+Oul/Cj9nDSbfw/8B
                fhHbnRPhd4csLYW9tLEmI5NQ8ocDzdgCDqIgO5koA+XfDth8Z/27/2t7PT9Q1i41vx58V/HUUU+oT
                5kkudS1C6A8w9+ZJK/uG+Evw38O/B/wCGXhv4TeEk8rTPC3h+00fTYu4t7aFIY/0QV/Np/wAGhH/B
                PjUfj9+2DqH7cHjjSZD4T+ENuYdCe4/1d5r9zFtXHP8Ay725Mp44LQV/TjQAUUUUAFFFFABX8o3/A
                AdofslXv7PX/BVPUvjDYaWYtC+Lvh+1160kA/dC+hjFneRD33wxzH/r5Ff1c18j/wDBXj/gk98JP+
                Csn7OEfwk8c6+dA8UaJcm+8FeLobMSyaZctGUdJI8jzbeUYDx8HgEEEUAfxmaHrmteFdatte0LU7i
                xvrG4juLS7s59ksMq/MsiMvQjrxX6n/sif8Hen/BR39n3w3beDPjZ4X8LfFqxtIRHb6h4iEtnq2zJ
                +/dQHZL16vET716FqP8AwZO/t3QGRtH/AGsPhHN/zzFwdTiz+Vq9Y+pf8GWP/BSiD5tP/aG+CUw/6
                a6vqkf/ALjjQB73oP8AwfE6b9n3eJf+Cb1x5w72PxUHl/8Aj2nVT1L/AIPi9QP/ACBv+Cb8A/67/F
                Yj/wBxleCT/wDBl7/wVIS33p8a/gg5HSMeIdUB/wDTZWb/AMQZf/BVn/oo3wa/8Ku//wDkCgD3H/i
                OD+LP/SPnw5/4cC5/+Q6wfjX/AMHhngf9o/4d3fwm+Pv/AASa8KeMPDOoeVLfaHr/AMQDdWs8qSCS
                MmN9O52uOvtXln/EGX/wVZ/6KN8Gv/Crv/8A5Ao/4gy/+CrP/RRvg1/4Vd//APIFAEHw7/4OGv8Ag
                n78JfG2nfEz4Y/8G+/wc0PxFo1yLnSNX0/xHFFLZSL0kjP9mcP7jmvon/iOJ8Y/9I4NO/8ADmyf/K
                +vn3/iDL/4Ks/9FG+DX/hV3/8A8gUf8QZf/BVn/oo3wa/8Ku//APkCgD6M03/g+Jv0gxqH/BNiGSX
                1h+K5T+emGp/+I44f9I1P/Mvf/euvnG3/AODMz/gqrLceTd/E74MRw/8APX/hKdQP8tOqS/8A+DMX
                /gqdbjda/FX4I3P/AFx8U6oP/QtOoA+iv+I44f8ASNT/AMy9/wDeuvB9D/4OYv2HPAfxfX48/C7/A
                IIH/CXQ/FkF19qg8SW3iC1ivobnn99HJHpA8t/pz71if8QZf/BVn/oo3wa/8Ku//wDkCj/iDL/4Ks
                /9FG+DX/hV3/8A8gUAe7ah/wAHwXxBK403/gnZo0Un96b4lSyf+2ArI1P/AIPef2h7jjRf2EPBdv7
                3PjK6l/lCleH/APEHH/wVy/6DXwi/8LS5/wDkOqN1/wAGgn/BYW1hLxaT8M5eeY4fGvP/AI9BQB33
                j3/g9G/4KM+IrWS18Cfs/fCPQGc8XcmmaheyRD23Xap+Yr8xv2uf2vf2hf24Pjdqf7QX7TvxFuvEv
                ibVMRy3kwjjihiX/VwwxRgJDEvZFGPx5r7nvv8Ag0c/4LLW/Nt8N/At1/1w8e2w/wDQ9tdL8Of+DO
                //AIKy+LNWhtvG+sfDLwrZHmW7v/FclyYv+2dtBJmgDhP+DVb9nF/j3/wWA8H+Jb+083TPhxo1/wC
                K70bsYdIxa2x/C5uoT+Ff1s18Kf8ABF7/AIIi/CD/AIJD/D7W7nTvHE/i/wAf+LVhi8UeLZrP7JEI
                YWJS0toSW2RbyTkkl+PQCvuugAooooAKKKKACiiigArg/wBpLwf8XPH/AMBPFvgj9nz4lweDPGura
                Bc23hjxTPpwuY9KvXjIjnaM9cE9+nXk8V3lFAH8Sv8AwUm/Z7/4KMfAj49ajY/8FGtI8cXXiiW+kx
                4l8VXdze22qc8y2t4+Y54/9w/4DwDw/oGveLNVi0Pwzo9zqF9MfLhs7G2kllm/4CvJr+9nXvD2heK
                bCXRfEmi22o2koxJaX1uksZ+qtXnXxbsPDn7MnwK8dfFr4JfAzRrrXfD3hDUNT0/Q9C0mK1k1S5t7
                Z5orX9xHuPmSKBxnk0AfyYfst/8ABvr/AMFb/wBrB4b/AMFfsg+IfD2mXP7wa748I0O22Z+9tutk0
                g/65oa/Vv8A4J9/8GqX7MP7Fmhz/tXf8FavjD4W8Rjw3Ab6bw79q+z+FtKiQD97fXFx5bXeP+eZEc
                WeD5uRXzp8Tv8Ag9O/bn1LTrrR/AX7JHw28M6iB5X2rVbq+vpIX7/u/Nhr85P22f8AgqV+3h/wUV1
                mO4/aq/aA1nxHYQ3AksPCtoPsukwSccx2cG2PPAG8gv70Afd//Bfr/g4dtf2yNIm/Yj/YWuZNE+DF
                gkdrr2r20BtZPE5hwI4I4xgwaemBiP8A5a4BOBxX5y/sR/sU/HH9v/8AaF0P9m74C6ELnV9Vl8271
                CdT9m0uyQgTXtzIB8kMY5P5dSK+of8AgnL/AMG43/BRb/goDq9j4jm+HFx8M/AEx8yTxr47s5Lb7R
                Dk82loQJro8cHAi/6aCvYf+CxviS9/4I36Pdf8Ekv2LfhfrPgvQdf8P2l78RvjNqyhtc+JaPHgxRX
                CEC206N90X2dOpBz1JmAP3j/4I7eDf2GvhV+xjpv7Pv7B/wAWtI8aeHvh/qdxovibX9JZXN5raCOS
                7mmxxvk8wH02EBDgZr61r+Vb/g1O/wCCkEH7Hn7di/s5/EjxCLTwV8aDDpXmXFxiOy1tM/YJv+2hc
                23J6zD0r+qmgAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigA
                ooooAKKKKACiiigAooooAKKKKAPm79oP8A4JGf8E1v2qfF8nxF+Pv7FfgTX9fuiDeax/Zf2W6uD6y
                zW5jeb/gea/Ob/gu/4l/Zl/4IKfAbwHr/APwTc/Ze+FngT4neNvFE0Np4il8FWt/fWWm2ttuuJYZL
                oSEP5stqM579K/aW5ube3tzcXDfu/pX8gn/BxN/wUgtf+CjH/BQ/XfEPgPVhd/D/AOH8DeGPBM0J/
                dXscMhN1fg4H+vnJx6wrDQB1v7Cf/Bx1/wUV+HP7bngb4oftT/tZeKPFXgGXxDDb+NvDt+YhZHTZv
                3c0iwxxqiGISeamwfwgd6/oC/4LOf8Esvh3/wVm/Y3v/AVmljB450a2l1P4YeJ1Yfur0x58hpP+fa
                4wEft0kGdor+Niv7Nf+CC/wC0fc/tT/8ABJj4KfEjWLs3Op2fhMaFq8rn959o02Z7Elvdhbh/xoA/
                jm8VeGPHHwm8e6h4M8X6Rf6L4i8O6vLa6jZ3AMdzY3sEm2RD6Ojrj/Oa/rA/4N7f+Cy3hf8A4Kb/A
                LNVl8OPil4gji+M3gTTYrbxdZzv+81u2TCR6vEM87+PO/uTH0ZK/Kf/AIPAf2CbL4AftmaH+2V4F0
                TydB+MWnyx64YlGyHXLMIsj9ePOgMT/VZq/Kf4I/HL4ufs5/EvSvjH8EPH+oeGPEujT+bper6VceX
                LA/f8CD34oA/vMor+eb9kT/g9P8Z+HfCkfh39tj9lT/hJdStoNn/CU+BtVis5Lvk8vaTDYD05SQD2
                rtPjB/we6eAINL+zfs//ALCmsXd6el14x8ZxW0cX1jt4pDJ/32KAP3lor+Y/T/8Ag9F/4KM2/j1Na
                1n4B/CObw99ozJoVtpV/HKY/wDr5N42H9/L/Cv6Ev2If2vPhp+3f+yr4K/aw+FLzxaN4w0g3MdnOQ
                ZLO5SQw3FtJjI3xTxyR++2gD16iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiii
                gAooooAKKKKACiiigAooooAKKK8T/AOCgH7Z3w6/4J/8A7JXjL9q34nP51j4Y01pLTTdwWTUr5/3d
                raJ2zLKVH45oA/Or/g6h/wCCwg/ZE+Aj/sJ/AXxD5XxJ+Jmk/wDFS3llc/vPD3h98o/Q8TXXMS/9M
                vNPXyyf59f+Cfv7B3xu/wCCjn7S2i/s0/AzSg17qDCXVdXuFJttGslIEt5Pj+BcjgckkADmsD4/fH
                f44/tx/tLa38aPiZdXWv8AjX4geI/OeO2ti/m3M0myG2t4h0RRtijjHYAV/V5/wQe/4JK+E/8Aglr
                +yRZaX4m0e2m+KXjOCG++IWrAiUwygfu9PjbH+pt+R2y5Y85FAH4A/wDBw/8A8Eq/g/8A8Eq/2h/h
                x8M/ghrOoX2keIfhva3Wp3WqMJJZtTgmkt7mcYwF83EcnljhcntX7C/8GbPjafxL/wAEotY8NzH/A
                JF74t6raRZ/uPaWNx/OY18U/wDB7jqET/tVfBPS0J82L4e38kgH9x7/AB/7Tr62/wCDLXR7m2/4Jp
                +P9Xuf9Vd/Gi78r/gGl6ZQB7F/wdYfs92fx0/4I+eNfFX2US33w41vSvE2mk9ilz9jn/8AJe7mP4V
                /LX+yx8H9N/aG/aX+HvwC1PxN/Ytt438c6VoNxq5tvN+wx3t3Fb+ft77PMzX9jf8AwWg0ix1v/gk7
                +0Rp9/jyx8JNbl+jpavIv6gV/Gx+zzqOtab8f/BGpeHy32+18YaXLZeV/wA9UuovL/WgD9b/AI3/A
                PBlP+2r4WuJp/gF+1J8PPGFsD+5i160vdHuSPoiXMf5yV4hc/8ABpD/AMFlY5/Lt/hv4GmjPImi8e
                22z/x7Br+sWigD+ZP4A/8ABl7/AMFAPG+qw3Hx9+Ovw68B6Wf9d/Z9zc6xfj/tisUUP/kav3k/4Jk
                /8E9fh3/wTE/ZO0n9lH4aeNtZ8SWGnX91fS6vrojEk1xcyBpCkcfEUecfJz3OTk19EUUAFFFFABRR
                RQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAV/PL/AMHqn
                7Yms6j8RPhb+wn4e1k/2Xpemy+MvFFnCTia6mkltbHf/wBc447o/wDbzX9DVfyc/wDB23BrQ/4LO+
                KE1EfuZPBmgf2d/wBcvsvP/kXzKAOx/wCDRr9gvSv2n/297/8Aaa8e6Ol14e+CdhFf2UM+THPrlyX
                jsv8Av0I7if2kWLj1/qVr8kP+DNz4T6T4O/4Je658RobY/bvF/wAUtQkuZSePLtre2gjXHsfO/Ov1
                voA/lc/4PCvi4vj3/grLF4AtbsSx+BPhnpWlzRAf6qaaW4vj/wCQ7qGv1s/4NH/AM3gr/gjX4b1y4
                gMf/CV+Ote1SMHvsufsf/tma/nD/wCCsP7QsP7VX/BSf41/Hq2ujNY638QtQj0eb1sbaT7Lan/wHh
                ir+s//AIIp/B+X4F/8EnfgD8OLy18q5i+G1hqFzDn7s16Ptsn/AI/cGgDi/wDg4c+Ktl8J/wDgjZ8
                d9Yv7jZ/avhOPQ7TA/wBbJf3MNnj8pj+Vfy4/8Eefghc/tHf8FRvgR8JLe2M0V58StOvtQh9bWzl+
                23H/AJAt5K/bX/g9B/ax8M+E/wBkvwB+xjaapnxF4w8WR+I9QtIG/wBTpllFNGPMz2kuJl2e9ua+b
                f8AgzD/AGJb7x3+0l44/bu8R6W/9keA9Jbw74dmONsurXqgzlfeK1GD/wBfgoA/pDooooAKKKKACi
                iigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAK+Bv
                +Cmf/AAb5/shf8FUf2jvDv7Rfx68e+MtHvtF8Lx6NdWfhK6tbf+04kmlmi8ySaCXoZpBx2xX2r8Uf
                ib4G+C/w3174ufE3xBb6X4e8NaPc6prupXHEdvawRmSSQ/RAa/nW/a+/4PN/2tPEfxCv9P8A2Lvgp
                4N8NeEoZpItPv8AxnZS6jqV7H2ldUmSGHPP7v8AeYyOaAP3p/Yb/Ye+An/BPX9n6w/Zp/Zt0m/tPC
                9hf3V3GuqanJc3ElxPIWkdpG68+nGAOKxP+Co37Rx/ZK/4J3/GX9oa1vfJvvDvgK/k0eUdr+aL7PZ
                /+TE0Nfznyf8AB35/wWEuIvI/tf4ZxE9ZV8F8/wDo+vpv/grJ+33+0Z8af+DYP4Q+OP2lfF0GpeOf
                jp48H9pzWOmx2UR0y1vr66h/dw/IOLSx/OgD8RvgZ8MdW+Nvxv8ACHwc0YH7f4s8U2GjWmP+etzcp
                CP1kr+u3/gp7/wWE/Y5/wCCOvwQtPDXiDWoNa8bQ6NHa+C/hrpV4Ptk8aR7IpLjHNrajb/rG69IwT
                0/nS/4NtPgePjr/wAFlfg1pt1aia08MandeJ7s/wDPL+z7WaeE/wDgSLf869E/ac/YF/bg/wCCy/8
                AwWS+PWqfs3fB7UdS0qP4qahpd54w1xZLXSdMtrOX7HH51w46+Vb/AOpjzLyOKAPmvxHrf7Z//Bbn
                /goALme2n8UfEn4j6uLaytIspZ6ZbJyIwTnyLS2i556Adyef65f+CdH7Dnw7/wCCdH7IXhH9lP4ak
                XEXh+yD6vq32fY+qalIc3N249Xf8kAHavFf+COn/BEj9nn/AIJL/DKU6GqeKviXrlsE8WePZ7Py3m
                wd32W0Q/6i2BxxnL4y5PAH3FQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUU
                UAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAeQ/tzfsp+H/ANuP9k/xp+yj4l8baj4fsPGukCxvNX0p
                I2uLePzEkyBICD9zH51+UUX/AAZF/soibMn7a/xDKDt/YViM1+3dFAH5F+AP+DMz/gl54cBbxt8Uv
                i74mkPOJ/EFjaxH8IbMP/4/Xx7/AMHffgXwL+zF8If2Tv2KfhBaT2XhTwf4e1z+zbO4uTLKsUf9nQ
                Q+ZI3U4EnPvX9G1fzp/wDB75FK3x8+Ac4GY/8AhDta/D/SregDlP8Agym+ENt4j/bc+Kfxqubbzf8
                AhFfhrFYQSZx5Mt/fIf8A0XZy1/Sn5HvX86//AAZEfEi30z47fHn4PTlRLrnhXRtZhJHzn7Fc3MLf
                +lwr+iygAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoooo
                AKKKKACiiigAooooAKKKKACiiigAr8Lv+D3H4JX2tfAn4H/ALQtpZ5j8P8AinVdB1CYet7bQ3EP/p
                DLX7o18x/8FdP2GLT/AIKMf8E//iD+zPCsMet3+nfbvCV1MQBDq1sRLbZx0DOvlNz0Y0AfzP8A/Bs
                3+1NY/ssf8FffhzP4hvfs2jePUuvBupTMdgJvQPs2f+3yO1Ff1+V/BJq+keOfhD4/utD1qwv9A8Se
                GtYkiuoZsxXNjfW0nI/2JI5F/MV/XB/wQh/4LG/D/wD4KpfszWGm+LPEmn2vxg8I2EVv490DIje7M
                YVf7TgjyMwyk54/1cmQe2QD77ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoooo
                AKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA/Hz/gv9/wbd2n7eGp3v7Xn7G0Fhp
                XxZEGfEfh25/cWfi0Lx5wfgQXoGOT8koAyQRur5X/AODTv/gnd+1j8Af+Cjnj/wCKX7RX7OnivwZY
                +Fvhzd6Ot34k0GW1jOpXF9aYiiaQYl/cw3HMZI5r+iuigAooooAKKKKACiiigD//2Q=='>
            </div>
        </span>

        <div class="window">
            <div class="sender">
                Chaos Computer Club e. V. • Zeiseweg 9 • 22765 Hamburg • Germany
            </div>
            <div class="recipient">
                {{ mail.member.get_name }}<br>
                {{ mail.member.address_1 }}<br>
                {{ mail.member.address_2 }}<br>
                {% if mail.member.address_3 %}{{ mail.member.address_3 }}<br>{% endif %}
                {% if mail.member.is_international %}{{ mail.member.get_address_country_display.upper }}<br>{% endif %}
            </div>
        </div>

        <div class="infoblock">
            <table>
                <tr>
                    <th><img src="data:image/png;base64,{{ mail.member.qrcode_b64 }}"></th>
                </tr>
                <tr>
                    <th>Chaos number:</th>
                    <td>{{ mail.member.chaos_number }}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{% now "d.m.Y" %}</td>
                </tr>
            </table>
        </div>

        <div class="content">
            {% if not mail.member.get_emails %}
            <p>
                <b>We do not have any working e-mail address of you. Please write us at membership@ccc.de and let us know
                    which e-mail address we should add to your data record.
                </b>
            </p>
            {% endif %}
            <p class="subject">
                {{ mail.subject }}
            </p>

            {% autoescape off %}
            <pre>{{ mail.body }}</pre>
            {% endautoescape %}
        </div>
    </div>

    <div class="footer">
        <div class="footer_block"><b>Address:</b><br>Chaos Computer Club e. V.<br>Zeiseweg 9<br>22765 Hamburg<br>Germany</div>
        <div class="footer_block"><b>Club:</b><br>Listed at the club courts of Hamburg under the registration number 10940</div>
        <div class="footer_block"><b>Internet:</b><br>Website: https://www.ccc.de/<br><br>Local Chaos: https://www.ccc.de/regional</div>
        <div class="footer_block"><b>Contact:</b><br>General inquiries: mail@ccc.de<br><br>Member office:<br>membership@ccc.de<br>PGP key at<br>ccc.de/en/office</pr></div>
    </div>
</body>
</html>