<!DOCTYPE html>
<html lang="de">
<meta charset="utf-8"/>
<head>
    <style>
        @page {
            size: A4;
        }

        /* Some clean-up to be able to use the full page for printing */
        body {
            font-family: Bitstream Vera Sans;
            font-size: 10pt;
        }

    </style>
</head>

<body>
    <h1>Delivery Information Datenschleuder Issue {{ delivery_info.issue }}</h1>
    <ul>
        <li>Total issues: {{ delivery_info.recipients_national|add:delivery_info.recipients_international }}</li>
        <li>Total boxes: {{ delivery_info.boxes_total_nat|add:delivery_info.boxes_total_int }}</li>
        <li>Total carts: {{ delivery_info.carts }}</li>
        <li>Weight in grams: {{ delivery_info.weight_grams }}</li>
        <li>Thickness in mm: {{ delivery_info.thickness_mm }}</li>
    </ul>
    <h2>{{ delivery_info.action_nat }}</h2>
    <ul>
        <li>Number of issues: {{ delivery_info.recipients_national }}</li>
        <li>Number of boxes: {{ delivery_info.boxes_total_nat }}</li>
    </ul>
    <h2>{{ delivery_info.action_int }}</h2>
    <ul>
        <li>Number of issues: {{ delivery_info.recipients_international }}</li>
        <li>Number of boxes: {{ delivery_info.boxes_total_int }}</li>
    </ul>
</body>
</html>