{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <h1>Address Labels for Datenschleuder Issue {{ ds_issue }}</h1>
  <p>Set the issue number in ROOT/ROOT/settings_production.py</p>
  <form action="{% url 'members:datenschleuder_address_stickers_selector' %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" value="Submit" class="btn btn-primary save">Submit</button>
  {% endbuttons %}
  </form>
{% endblock %}
