{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" value="Submit" class="btn btn-primary save">Submit</button>
  {% endbuttons %}
  </form>
{% endblock %}
