{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div id="mainContainer" class="container-fluid"  style="margin-top:60px">
    <textarea>
      {{ month }}
      {{ statistics_type }}
    </textarea>
  </div>
  <form action="{% url 'api:get_erfa_statistics' %}" method="post" class="form">
    {% csrf_token %}
    <label for="interval">Interval: </label>
    <input id="interval" type="text" name="interval" value="total">
    {% buttons %}
    <button type="submit" class="btn btn-primary">show</button>
    <button type="submit" name="createManagingMail" class="btn btn-primary">show & create mail</button>
    {% endbuttons %}
  </form>
{% endblock %}
