{% extends "base.html" %}
{% load static %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block extra_headers %}
    <style type="text/css">
        div.alert.alert-block.alert-danger { visibility: hidden }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    {% if form.non_field_errors %}
        <audio autoplay preload="auto">
          <source src="{% static 'sounds/beep_failure.wav' %}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
        {% if warning %}
        <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-danger" role="alert">
        {% endif %}
            {{ form.non_field_errors }}
        </div>
    {% elif form.is_bound and form.is_valid %}
        <audio autoplay preload="auto">
          <source src="{% static 'sounds/beep_success.wav' %}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
        <div class="alert alert-success" role="alert">
            Mitglied ist abstimmungsberechtigt
        </div>
    {% elif form.is_bound and not form.is_valid %}
        <audio autoplay preload="auto">
          <source src="{% static 'sounds/beep_failure.wav' %}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
    {% endif %}
        <h1>Teilnahmeschein prüfen</h1>
        <div class="row">
            <div class="col-md-12">
                {% crispy form %}
            </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Votes</th>
              <th scope="col">Total</th>
              <th scope="col">Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Scanned</td>
              <td>{{ counts.scanned }}</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>Valid</td>
              <td>{{ counts.valid }}</td>
              <td>{% widthratio counts.valid_percentage 1 100 %}%</td>
            </tr>
            <tr>
              <td>Invalid</td>
              <td>{{ counts.invalid }}</td>
              <td>{% widthratio counts.invalid_percentage 1 100 %}%</td>
            </tr>
          </tbody>
        </table>
</div>
{% endblock %}
