{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h1>Import Banking CSV</h1>

    <p>Latest imported transaction: {{ latest_import }}</p>

    {% if message %}
       <p class="alert alert-info">
           {{ uploadedFile }}<br>
           {{ message }}
       </p>
    {% endif %}
    {% if warnings %}
        {% for warn in warnings %}
            <p class="alert alert-warning">
                {{ warn }}
            </p>
        {% endfor %}
    {% endif %}
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'import_app:import_banking' %}" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}

        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {% bootstrap_form form %}
        </p>

    {% buttons %}
        <p><input type="submit" value="Upload" {% if uploadedFile != '' %} disabled {% endif %} class="btn btn-primary save"/></p>
    {% endbuttons %}

        {% for err in errors %}
            {{ err }}<br>
        {% endfor %}

        {% for imp in imported %}
            {{ imp }}<br>
        {% endfor %}

    </form>
{% endblock %}
